.project-input{
    font-size: 16px !important;
    height: 46px !important;
    padding: 0 16px !important;
}
.project-textarea{
    font-size: 16px !important;
}

.radio {
    margin: 0.5rem;
  }
  .radio+.radio{
      margin-top: 0px !important;
  }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
            box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
  }
  .radio input[type="radio"]:disabled + .radio-label:before {
    -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
            box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
  }
  .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
  }
  .pd-left-0{
      padding-left: 0px !important;
  }
  .rbt-input{
    font-size: 16px !important;
    height: 46px !important;
    padding: 0 16px !important;
  }
  .rbt-token{
      margin-top: 8px !important;
  }
  .project-img{
    height: 120px !important;
    width: 400px !important;
  }
  .white-color{
    background: white !important;
  }
  .bid-info{
    font-size: 25px;
    color: steelblue;
  }
  .mr-b-0{
    margin-bottom: 0px !important;
  }
  .mr-t-50{
    margin-top: 50px !important;
  }
  .mr-t-0{
    margin-top: 0px !important;
  }
  .table-header{
    font-weight: normal !important;
    font-size: 16px !important;
  }
  .rt-thead.-header{
    background: #4D525B !important;
    color:  steelblue;
    font-weight: 600;
    line-height: 1.43;
    border-top: 0;
    font-weight: 400;
    height: 56px;
    padding: 12px 10px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    color: #F7F7F7;
  }
  .rt-tr-group{
    color: #808080;
    margin: 5px;
  }
  .rt-tr-group:nth-child(even) {
    background-color: #f5f5f5 !important;
    line-height: 1.2;
    font-weight: unset;
  }
  .rt-table{
    background: white !important;
  }
  .project-name{
    font-size: 16px;
    color: steelblue;
  }
  .bid-project-btn{
    background: linear-gradient(to bottom,#139ff0 0,#0087e0 100%);
    border: 1px solid #0087e0;
    color: #F7F7F7;
    font-weight: 700;
    text-shadow: 0 -1px transparent;
  }
  .mr-t-25{
    margin-top: 25px !important;
  }
  .fs-12{
    font-size: 12px !important;
  }
  .fs-13{
    font-size: 13px !important;
  }
  .pd-right-0{
    padding-right: 0px;
  }
  .cancel-link{
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 16px;
  }
  .open-status{
    color: #61AB00;
    font-weight: 700;
    font-size: 22px;
  }
  .green-txt{
    color: #61AB00;
    font-weight: normal;
    font-size: 14px;
  }
  .bookmark{
    color: grey;
  }
  .mr-t-10{
    margin-top: 10px !important;
  }
  .mr-t-20{
    margin-top: 20px !important;
  }
  .skill-frame{
    color: #61AB00;
    font-weight: bolder;
  }
  /* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
font-weight: bold;
color: red;
padding: 2px 8px;
margin-top: 2px;
}
.credit-card-box .payment-errors {
font-weight: bold;
color: red;
padding: 2px 8px;
margin-top: 2px;
}
.credit-card-box label {
  display: block;
}

.credit-card-box .display-tr {
  display: table-row;
}
.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px;
}